
runs/Mar22_18-35-25_Zack-SI/events.out.tfevents.1711150525.Zack-SI.3828.0
runs/Mar22_18-35-25_Zack-SI/1711150525.2116938/events.out.tfevents.1711150525.Zack-SI.3828.1
__pycache__/utils.cpython-39.pyc
__pycache__/transforms.cpython-39.pyc
__pycache__/engine_gradientAccumulation.cpython-39.pyc
__pycache__/coco_utils.cpython-39.pyc
__pycache__/coco_eval.cpython-39.pyc
/runs
